h2{
  font-size: 1rem;
  font-weight: 600;
}
select{
  margin-top: 30px;
  padding: .5rem 2rem;
}
button{
  padding: .5rem 2rem;
  margin-left: 20px;
  border: none;
  outline: none;
  white-space: nowrap;
  font-size: 1rem;
  color: #fff;
  background-color: #fb923c;
  border-radius: 5px;
  cursor: pointer;
}
